<div class="empty-state-wrapper">
    <div class="empty-content">
        <div class="empty-icon-box">
            <i [class]="icon"></i>
        </div>
        <h2>{{ title }}</h2>
        @if(message) {
        <p>{{ message }}</p>
        }
        <div class="empty-actions">
            @if(showBackButton) {
            <button class="btn-action primary" (click)="goBack()">
                <i class="fa fa-arrow-right"></i>
                <span>العودة للخلف</span>
            </button>
            }
            @if(showHomeButton) {
            <a routerLink="/" class="btn-action secondary">
                <i class="fa fa-home"></i>
                <span>الرئيسية</span>
            </a>
            }
        </div>
    </div>
</div>