<nav class="breadcrumbs-modern">
    @for (item of items; track $index) {
    @if(item.link) {
    <a [routerLink]="item.link" class="crumb">
        @if(item.icon) {
        <i [class]="item.icon"></i>
        }
        <span [title]="item.label">{{ item.label }}</span>
    </a>
    } @else {
    <span class="crumb active">
        @if(item.icon) {
        <i [class]="item.icon"></i>
        }
        <span [title]="item.label">{{ item.label }}</span>
    </span>
    }
    @if($index < items.length - 1) { <span class="separator"><i class="fas fa-chevron-left"></i></span>
        }
        }
</nav>