<div class="desktop-navigation-wrapper" [class.is-open]="isOpen">
  <nav class="main-nav-container">
    <ul class="nav-links-list">
      @for (menu of partitions; track menu.id; let i = $index) {
      <li class="nav-item" [class.has-children]="menu.hadithCollections.length" [style.--i]="i">
        <a class="nav-link-main"
          [routerLink]="menu.id === Menu.Narrators ? ['/narrators'] : (menu.id === Menu.Home ? ['/'] : ['/partition', menu.id, 'collections'])">
          <span class="link-text">{{ menu.name }}</span>
          @if(menu.hadithCollections.length && menu.hadithCollections[0].name != null) {
          <i class="fas fa-chevron-down dropdown-icon"></i>
          }
        </a>

        @if(menu.hadithCollections.length && menu.hadithCollections[0].name != null) {
        <div class="submenu-level-one">
          <div class="submenu-scroll-area">
            <ul class="submenu-list">
              @for(collection of menu.hadithCollections; track collection.id) {
              <li class="submenu-item" [class.has-deeper]="collection.classifications.length">
                <a class="submenu-link" [routerLink]="['/partition', menu.id, 'collection', collection.id]" (click)="$event.preventDefault()">
                  <span class="collection-name">{{ collection.name }}</span>
                  <div class="item-meta">
                    <span class="count-badge">{{ collection?.classifications?.length || 0 }}</span>
                    @if(collection.classifications.length) {
                    <i class="fas fa-chevron-left side-icon"></i>
                    }
                  </div>
                </a>

                @if(collection.classifications.length) {
                <div class="submenu-level-two">
                  <ul class="submenu-list-inner">
                    @for(classification of getTopClassifications(collection.classifications); track classification.id) {
                    <li class="inner-item">
                      <a class="inner-link"
                        [routerLink]="menu.id === Menu.Commentaries ? ['/sharh', classification.id] : ['/classification', classification.id]">
                        {{ classification.name }} 
                        @if(classification.type==0){
                          - <span class="death-year"> (ت {{ classification.deathYear }})</span>
                        }
                      </a>
                    </li>
                    }
                    @if(menu.id !== Menu.Commentaries) {
                    <li class="inner-item more-action">
                      <a [routerLink]="['/partition', menu.id, 'collection', collection.id]" class="view-all-link">
                        <span>شاهد الكل</span>
                        <i class="fas fa-arrow-left"></i>
                      </a>
                    </li>
                    }
                  </ul>
                </div>
                }
              </li>
              }

              <li class="submenu-item global-more">
                <a [routerLink]="['/partition', menu.id, 'collections']" class="global-view-link">
                  <i class="fas fa-th-list"></i>
                  <span>شاهد كل المجلدات</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        }
      </li>
      }
    </ul>
  </nav>
</div>