<div class="theme-container" [class.open]="isOpen">
  <div  [matTooltip]="'إعدادات الشكل'" matTooltipClass="custom-tooltip" class="gear-btn" (click)="toggleSettings()">
    <i class="fa-solid fa-gear fa-spin-slow"></i>
  </div>

  <div class="options-arc" *ngIf="isOpen">
    <div 
      class="color-btn" 
      *ngFor="let color of colors; let i = index"
      [style.background]="color.radial"
      [style.animation-delay]="i * 0.1 + 's'"
      (click)="changeTheme(color)"
      [title]="color.name">
    </div>
  </div>
  
  <div  class="glass-bg" *ngIf="isOpen" (click)="closeSettings()"></div>
</div>
